/*=============== Mobile ========================================*/
@media (max-width: 360px) {}

/*=============== Mobile ========================================*/
@media (max-width: 480px) {
    #header {
        box-shadow: 1px 2px 20px 1px #333;
    }

    #navId {
        width: 70%;
    }

    .nav {
        position: absolute;
        top: 100px;
        left: 15%;
        height: 280px;
        outline: 2px solid #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        z-index: 5;
        visibility: hidden;
    }

    .nav.active {
        visibility: visible;
        transition: 0.25s ease-in-out;
    }

    .nav-list {
        flex-direction: column;
    }

    #navLink {
        font-size: 2rem;
    }

    .header-menu {
        font-size: 1.5rem;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
        position: absolute;
        padding: 1rem;
        background: transparent;
    }

    .header-menu.active {
        background: transparent;
    }

    #moviePrincipal {
        background-position: center;
        display: flex;
        align-items: center;
    }

    #containerColumn {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-titleMovie {
        font-size: 3.5rem;
        font-weight: 800;
        margin: 0%;
        padding: 1rem;
        text-align: center;
        color: #fff;
    }

    .container-textMovie {
        color: #fff;
        filter: opacity(0.6);
        padding: 1rem;
        font-size: 1.2rem;
        margin: 0 auto;
        text-align: center;
    }

    #searchForm {
        margin: 1rem auto;
        width: 80%;
    }

    #searchForm input {
        height: 0;
        padding: 2rem;
    }

    #searchBtn {
        height: 0;
        margin-left: 1rem;
        padding: 2rem;
        display: flex;
        align-items: center;
    }

    .header-arrow {
        display: none;
    }

    .categoriesPreview-container {
        margin-top: 2rem;
    }
}

/*=============== #Option ========================================*/
@media (min-width: 481px) {
    .header-menu {
        display: none;
    }
}

@media (min-width: 700px) {
    .header-menu {
        display: none;
    }

    .header-menu {
        display: none;
    }
}

/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {}

/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {}

/*=============== #Option ===================================*/
@media only screen and (min-width: 1200px) {}

/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {}

/* Design Model ====================================================*/
@media screen and (orientation: landscape) {
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {
    body::after {
        content: "Portrait";
    }
}