/*=============== Mobile ========================================*/
@media (max-width: 360px) {}

/*=============== Mobile ========================================*/
@media (max-width: 480px) {
    #navId {
        width: 70%;
    }

    .nav {
        position: absolute;
        top: 100px;
        left: 15%;
        height: 280px;
        outline: 2px solid #fff;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        z-index: 5;
        visibility: hidden;
    }

    .nav.active {
        visibility: visible;
        transition: 0.25s ease-in-out;
    }

    .nav-list {
        flex-direction: column;
    }

    #navLink {
        font-size: 2rem;
    }

    .header-menu {
        font-size: 1.5rem;
        padding: 1rem;
        color: #fff;
        cursor: pointer;
        position: absolute;
        padding: 1rem;
        background: transparent;
    }

    .header-menu.active {
        background: transparent;
    }

    #moviePrincipal {
        background-position: center;
    }
}

/*=============== #Option ========================================*/
@media (min-width: 481px) {
    .header-menu {
        display: none;
    }
}

@media (min-width: 700px) {
    .header-menu {
        display: none;
    }

    .header-menu {
        display: none;
    }
}

/*=============== Tablet  ========================================*/
@media screen and (min-width: 768px) {}

/*=============== Screen Laptop ===================================*/
@media screen and (min-width: 1024px) {}

/*=============== #Option ===================================*/
@media only screen and (min-width: 1200px) {}

/*=============== Laptop Large  ===================================*/
@media only screen and (min-width: 1440px) {}

/*=============== Laptop Xtra Large =================================*/
@media only screen and (min-width: 1920px) {}

/* Design Model ====================================================*/
@media screen and (orientation: landscape) {
    body::after {
        content: "Landscape";
    }
}

@media screen and (orientation: portrait) {
    body::after {
        content: "Portrait";
    }
}