/** === Components Import === */
/* @import url('https://fonts.googleapis.com/css2?family=Prompt:wght@700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Prompt:wght@700&display=swap');
@import url("./responsive/media.css");
@import url("./component/component.css");


/** ======  === ROOT*/
:root {
    /* == Color*/
    --clr-white: #fff;
    --clr-white-two: #d2d2d2;
    --clr-black: #000;
    --clr-primary: #056CF2;
    --clr-secondary: #0A4DA6;
    --clr-third: #1DF2DD;
    --clr-background: #0D0D0D;
    --clr-gray: #D9D9D9;

    /* == Font Family*/
    --font-family-Prom: 'Prompt', sans-serif;
    --font-family-Mon: 'Montserrat', sans-serif;
    /* == Font Size*/

    /* == Margin*/

    /* == Transition*/
}

/** ==== CSS Style General ===*/

/** === ==== ==== Project Movie CSS*/